.conteudo {
    width: 500px;
    height: 400px;
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    margin: 0 auto ;
}
#titulo {
    text-align: center;
}

#resultado {
    height: 100px;
    width: 350px;
    text-align: center;
    font-size: 25pt;
    color: white;
    background-color: rgb(114, 114, 114);
    margin-left: calc(18vh - 100px);
    margin-right: calc(20vh)   ;
}

#valor1, #valor2 {
    height: 50px;
    width: 200px;
    font-size: 20pt;
    text-align: center;
}
#valor1 {
    margin-left: 4vh;
    
}

#btSoma, #btsub, #btdiv, #btmult{
    height: 80px;
    width: 150px;
    font-size: 15pt; 
    text-align: center;
    margin-left: 6.5vh;
    border-radius: 5px;
}